.bundle
db/*.sqlite3
config/database.yml
config/newrelic.yml
tmp/
.sass-cache/
*.swp
.rvmrc
.ruby-gemset
*.tmproj
*.DS_Store
coverage
public/assets
public/system
public/fonts
.project
Session.vim
*.sql
*.dump
*.log
screenshots/
.idea
.env
bin/
/public/uploads
/lineman
.powenv

/plugins/*/
!/plugins/*.rb
!/plugins/*.yml
!/plugins/*.md
/angular/plugins/
/angular/node_modules
/angular/dist
