.bundle
db/*.sqlite3
config/database.yml
config/newrelic.yml
tmp/
.sass-cache/
*.swp
.rvmrc
.ruby-gemset
*.tmproj
*.DS_Store
coverage
public/client
public/system
public/fonts
.project
Session.vim
*.sql
*.dump
*.log
screenshots/
.idea
.env
bin/
/public/uploads
.powenv

/plugins/*/
!/plugins/*.rb
!/plugins/*.yml
!/plugins/*.md
!/plugins/loomio_webhooks
/angular/plugins/
/angular/build/config/plugins.yml
/angular/node_modules
/angular/dist
