.revision-history-modal
  .modal-header
    %modal_header_cancel_button
    %h1.lmo-h1{translate: 'revision_history_modal.thread_header'}
  .modal-body.revision-history-modal__body
    .lmo-wrap{ng-repeat: 'version in discussion.versions() | orderBy: "-createdAt" track by version.id', id: 'version-{{version.id}}'}
      .revision-history-modal__revision
        %h2.lmo-h2 {{threadTitle(version)}}
        .revision-history-modal__thread-details
          %span{ng-if: 'versionIsOriginal(version)', translate: 'revision_history_modal.started_by'}
          %span{ng-if: '!versionIsOriginal(version)', translate: 'revision_history_modal.edited_by'}
          %strong> {{version.authorOrEditor()}}
          %timeago.nowrap{timestamp: 'version.createdAt' }>
          %span{ng-if: 'versionIsCurrent(version)'}> (current)
        .revision-history-modal__description {{threadDescription(version)}}

  .modal-footer
    %button.revision-history-modal__close{type: 'button', translate: 'common.action.close', ng-click: '$close()'}