.loomio-reactions-display
  .loomio-reaction{ng-repeat: 'reaction in reactionEmojis()'}
    %span.loomio-reaction__icon{ng-bind-html: 'emojiFor(reaction)'}
    %span.loomio-reaction__count {{ countFor(reaction) }}
  %reaction_form{ng-if: 'showReactionForm()'}
