.position_buttons_panel__buttons{ng-class: '{"show-descriptions": "hasDescriptions()"}'}
  %button.position-button.position-button--yes{ng-click: 'select("yes")'}
    .sr-only{translate: 'vote_form.i_agree'}
  .position_buttons_panel__description

  %button.position-button.position-button--abstain{ng-click: 'select("abstain")'}
    .sr-only{translate: 'vote_form.i_abstain'}
  .position_buttons_panel__description

  %button.position-button.position-button--no{ng-click: 'select("no")'}
    .sr-only{translate: 'vote_form.i_disagree'}
  .position_buttons_panel__description

  %button.position-button.position-button--block{ng-click: 'select("block")'}
    .sr-only{translate: 'vote_form.i_block'}
  .position_buttons_panel__description
